@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    @apply font-karla;
  }

  .bg-dots {
    position: relative;
    background-color: #111111;
    background-image: url("/images/dots.svg");
    background-attachment: fixed;
    background-size: 12rem;
    z-index: 1;
  }

  .bg-dots::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.85;
    z-index: -1;
  }
}

/* CHROME PICKER */
.picker .react-colorful {
  width: auto !important;
  height: 160px;
  gap: 6px;
}

.picker .react-colorful .react-colorful__saturation {
  border-radius: 0 !important;
  width: 190px !important;
  border: 1px solid rgb(68 64 60) !important;
}

.picker .react-colorful__pointer.react-colorful__saturation-pointer {
  width: 16px !important;
  height: 16px !important;
  border-radius: 0 !important;
}

.picker .react-colorful__hue.react-colorful__last-control {
  height: 16px !important;
  border-radius: 0 !important;
}

.picker .react-colorful__pointer.react-colorful__hue-pointer {
  width: 17px !important;
  height: 17px !important;
  border-radius: 0 !important;
}

.picker .color-input input {
  width: 100%;
  height: 38px;
  padding: 8px;
  font-size: 14px;
  background-color: transparent;
  outline: 0;
  border-top: 1px solid rgb(68 64 60) !important;
}
